body{
background-image: url(https://raw.githubusercontent.com/HDP-Historical-Document-Preservation/FrontEnd/main/Telas%20modelo%20-%20Bia/Captura%20de%20tela%202024-04-02%20152446.png);
background-size: cover;
}



.container {
  font-size:large;
  flex-direction: row-reverse;
  justify-content: flex-end;
  display: flex;
  width: 80%;
  margin: auto;
  justify-content: space-between;
}

.navbar {
  display: flex;
  flex-direction: row-reverse;
  list-style: none;
  width: 300px;
  justify-content: space-between;
  color: #ffffff;
  align-items: center;   
}

.banner{
  padding: 40px 20px 30px 10px;
  color: #fff;
  height: 400px;
}
.banner .container{
  justify-content: left;
  align-items: center;
  height: 100%;
}
.banner .container p{
  font-size: 36px;
  width: 25%;
}
.banner .container p span{
  font-weight: bold;
}
.social{
  height: 500px;
  background-color: white;
  padding: 40px 0;
}
.card{
 margin-top: 20%;
  width: 300px;
  text-align: center;
}
.card img{
  width: 100px;
}
.card h4{
  font-size: 24px;
}
.social .container{
  justify-content: space-between;
}
.footer{
  width: 100%;
  color: #ffffff;
  height: 500px;
  background-color: #0f3017;
}
.footer .container{
  justify-content: center;
  align-items: center;
  height: 100%;
}
.footer .container p{
  font-weight: bold;
}
.logo{
  padding: 30px;
  height: 200px;
  justify-content: flex-start;
}
