body{
  margin: 0%;
  padding: 0;
  background-image: url(fundo-escuro.png);
  
}
  .header {
  background: #370505;
  display: flex;
  flex-direction: row;
  padding: 1rem 2rem;
  position: fixed;
  width: 1300px;  
}

.container {
  display: flex;
  margin: auto;
  border-radius: 45px;
  align-items: center; 
}

.header .container {
  justify-content: space-evenly;

}


.navbar {
  display: flex;
  flex-direction: row;
  list-style: none;
  width: 400px;
  justify-content: space-between;
  color: #DD940D; 
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 18px;
  margin-left: 600px;
}

.navbar a {
  text-decoration: none;
  color: #DD940D;
}

.logo {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 50px;
}

.texto1 {
  font-family: Arial, sans-serif;  
  line-height: 1.5; 
  letter-spacing: 1px; 
  text-align: center;
  color: white;
  margin-top: 200px;
  flex-direction: column;
  font-weight: 1000;
  color: #DD940D;
  font-size: 35px;
}

.pagina1final {
  border-top: black 5px solid;
}

.banner {
  background-color: white;
  padding: 50px;
  }

.titulo {
  font-weight: 800;
  color: #DD940D;
  margin-left: 50px;

}

.teste1{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.paragrafo1 {
  margin-left: 50px;
  font-family: Arial, sans-serif;  
  line-height: 1.5; 
  letter-spacing: 1px; 
  text-align: justify;
  width: 500px;
  height: 300px;
}

.img2 {
  width: 500px;
  height: 300px;
  border: #e3b062 solid 4px;
  margin-left: 100px;
}

.banner1 {
  background-color: white;
  padding: 70px;
}

.teste2{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-left: 20px;
}

.temp1 {
  text-align: center;
  margin-right: 2%;
  flex-direction: row;
  border: 3px solid black;
  padding: 15px;
  background-color: #ffe6c0;
  border-radius: 15px;
}

.temp2 {
  text-align: center;
  margin-right: 2%;
  flex-direction: row;
  border: 3px solid black;
  padding: 15px;
  background-color: #ffe6c0;
  border-radius: 15px;
}

.temp3 {
  text-align: center;
  margin-right: 2%;
  flex-direction: row;
  border: 3px solid black;
  padding: 10px;
  background-color: #ffe6c0;
  border-radius: 15px;
}

.img3 {
  width: 55%;
  align-items: center;
}

.img4 {
  width: 40%;
  align-items: center;
}

.img5 {
  width: 70%;
  align-items: center;
}

.texto2 {
  display: flex;
  font-family: Arial, sans-serif;  
  line-height: 1.5; 
  letter-spacing: 1px;
  margin-top: 20px; 
  text-align: justify;
  color: black;
  justify-content: space-between;
  align-items: center;
  width: 400px;
}

.banner2 {
  background-color: #f1bf62;
  padding: 70px;
  }

  .texto3 {
    display: flex;
    font-family: Arial, sans-serif;  
    line-height: 1.5; 
    letter-spacing: 1px;
    margin-top: 20px; 
    margin-right: 10%;
    text-align: justify;
    color: black;
    justify-content: space-between;
    align-items: center;
    width: 400px;
    font-weight: 800;
  }  

  .img6 {
    width: 30%;
  align-items: center;
  }

  .banner3 {
    background-color: white;
    padding: 50px;
  }

  .img7 {
    width: 700px;
    height: 400px;
  }

  .texto4 {
    display: flex;
    font-family: Arial, sans-serif; 
    color:#e3b062; 
    flex-direction: row;
    font-weight: 800;
    font-size: 25px;
    margin-left: 500px;
  }  
  
  .teste3 {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .texto5 {
    flex-direction: row;
    font-family: Arial, sans-serif;  
    line-height: 1.5; 
    letter-spacing: 1px;
    text-align: justify;
    align-items: center;
    margin-left: 100px;
    margin-right: 50px;
  }

  .teste4 {
    font-family: Arial, sans-serif;
    border: 1px solid #1e371b;
    border-radius: 15px;
    background-color: #1e371b;
    color: white;
    font-size: medium;
    width: 2000px;
    height: 50px;
    margin-top: 240px;
  }
  
  .texto6 {
    margin-left: 20%;
  }

