body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url("https://github.com/HDP-Historical-Document-Preservation/FrontEnd/blob/main/Telas%20modelo%20-%20Bia/Captura%20de%20tela%202024-04-02%20152446.png?raw=true");
    background-position: center;
    background-size: 100%;
}

.cadastro {
    width: 700px;
    height: 400px;
    padding: 20px;
    border: 1px solid black;
    border-radius: 5px;
    box-shadow: 0 0 10px black;
    background-color: #1E371B;
}

.cadastro input,
.cadastro button {
    width: 304px;
    height: 20px;
    padding: 10px;
    margin-top: 10px;
    display: block;
}

.cadastro select {
    width: 326px;
    height: 42px;
    padding: 10px;
    margin-top: 10px;
    display: block;
}

button:hover {
    background-color: #ffbf00;
}

#div_mensagem {
    color: #fbff00;
    margin-top: 10px;
    text-align: center;
}

h2 {
    text-align: center;
    color: #ffbf00;
}

.formulario {
    display: flex;
    justify-content: space-between;
}

.card {
    justify-content: center;
    padding: 20px;
    height: 40vh;
    margin: auto;
}

.botao {
    display: flex;
    justify-content: center;
}

.botao button {
    margin: 20px;
    height: 100%;
}
