body {
    background-image: url(file:///C:/Users/user/Downloads/Design%20sem%20nome.png);
    background-size: cover;
    background-repeat: no-repeat;
    }
    
    h1 {
        margin: 1%;
    color:#f4d800 ;
    width:fit-content;
    }
    .blocopai {
    margin: 1%;
    font-size: larger;
    display: flex;
    flex-direction: column;
    width:fit-content;
    height:fit-content;
    color: #ffffff;
    border-radius: 5px;
    }
    
    #demo2, #demo3, #demo4, #demo5{

    background-color: #dcdcdc;
    border-radius: 5px; 
    padding: 5px;
    color: rgb(5, 5, 5);
    width: 400px;
    height: 50px;
    font-weight: 500;
    }
    
    .botao {
        margin: 1%;
    font-size: larger;
    display: flex;
    color:white;
    width:fit-content;
    height:fit-content;
    background-color:#b3b309;
    }