body {
    background-image: url(https://raw.githubusercontent.com/ViniciusMiralha/meu-primeiro-repo/main/FUNDO-LOGIN.PNG);
    background-size: cover;
    background-repeat: no-repeat;
    }
    
    h1 {
    margin: 1%;
    color:#f4d800 ;
    width:fit-content;
    }
    .blocopai {
    margin: 1%;
    font-size: larger;
    display: flex;
    flex-direction: column;
    width:fit-content;
    height:fit-content;
    color: #ffffff;
    border-radius: 5px;
    }
    
    #demo2, #demo3, #demo4, #demo5{

    background-color: #dcdcdc;
    border-radius: 5px; 
    padding: 5px;
    color: rgb(5, 5, 5);
    width: 400px;
    height: 50px;
    font-weight: 500;
    }
    
    .botao {
    border:100px;
    margin: 1%;
    font-size:25px;
    display: flex;
    color:white;
    width:100px;
    height:70px;
    background-color:#b3b309;
    align-items: center;
    justify-content: center;
    font-family: 'Courier New', Courier, monospace;
    }