body {
    display: flex;
    background-image: url("Captura\ de\ tela\ 2024-04-02\ 175933.png");
    background-size: cover;
    justify-content: center;
    
}

 
.flex-item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.blocoLogin {
    display: flex;
    height: 425px;
    width: 480px;
    border-radius: 20px;
    background-color:rgb(8, 17, 10);
    margin-top: 5%;
}

h2{
    color: #ffbf00;
    font-size: 215%;
}
 input {
    margin-right: 15px;
    margin-left: 15px;
    background-color: rgba(163, 179, 163, 0.856);
    width: 200px;
    height: 30px;
    border-radius: 15px;
    color: rgb(0, 0, 0);
    border: none;
 }
  
 button {
    background-color: #ffbf00;
    color: rgb(21, 51, 18);
    width: 250px;
    height: 35px;
    border-radius: 25px;
    font-size: 100%;
    cursor: pointer; /* efeito quando o cursor passa no mouse*/
    transition: 0.3s;
    
 }
 button:hover {
    background-color: #fbff00;
  }
  
