body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #370505;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.header {
    background-color: beige;
    display: flex;
    flex-direction: row;
    padding: 1rem 0rem;
    width: 100%;
    border: 2px solid black;
    height: 30px;
    margin:auto;
    align-items: center;
   
}
/*   */

.navbar{
    display: flex;
    flex-direction: row;
    list-style: none;
    width: 400px;
    justify-content: space-between;
    color: #370505;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18px;
    margin-left: 1100px;
    
    
}

#box {
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 90%;
    height: 90%;
    margin: 50px auto;
    margin-top: 55px;
}

center {
    margin-bottom: 40px;
    border-bottom: solid 1px black;
}

#box2 {
    display: flex;
}

#conteudo {
    width: 50%;
}

#div_mensagem {
    width: 50%;
}

input {
    width: 150px;
    height: 10px;
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

button {
    background-color: #370505;
    color: #ffffff;
    cursor: pointer;
    width: 150px;
    height: 50px;
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    transition: 1s;
}

button:hover {
    background-color: #152014;
    transition: 1s;
}

span {
    font-size: 15px;
    color: #333;
}

strong {
    color: #370505;
}

input[type="text"]::placeholder {
    color: #999;
}

img{
    width: 5%;
    margin-left: 2%;
}



