body {
    padding: 0;
    margin: 0;
    background-color: white;
    overflow-x: hidden;
}

body::-webkit-scrollbar {
    width: 5px;
  }
  
  body::-webkit-scrollbar-track {
    background: white;
  }
  
  body::-webkit-scrollbar-thumb {
    background-color: #DD940D;
    border-radius: 20px;
  }
.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-right: 150px;
}

.navbar li:hover{
    color: rgb(221, 148, 13);
}

.navbar a:hover{
    color: rgb(221, 148, 13);
}

.logo {
    margin-right: 0%;
    height: 50px;
    width: 110px;
    background-image: url('../assets/imgs/logo.png');
    background-size: cover;
}


.header {
    display: flex;
    align-items: flex-end;
    position: fixed;

}

.blocoNavbar {
    display: flex;
    justify-content: flex-end;
    background-color: #370505;
    width: 1200px;
    height: 50px;
}

.trianguloDireita {
    padding: 0%;
    width: 0;
    height: 0;
    border-top: 25px solid transparent;
    border-bottom: 25px solid transparent;
    border-left: 25px solid #370505;
}

.trianguloBaixo {
    display: flex;
    margin-top: 10%;
    width: 0; 
    height: 0; 
    border-left: 190px solid transparent;
    border-right: 190px solid transparent;
    border-top: 35px solid #D9D9D9;
  }
  
.navbar {
    display: flex;
    flex-direction: row;
    margin-right: 5%;
    justify-content: space-between;
    list-style: none;
    width: 300px;
    color: #ffffff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.navbar a:hover{
    color: rgb(221, 148, 13);
}

.navbar li:hover{
    color: rgb(221, 148, 13);
}

.navbar li {
    color: #ffffff;
}

a {
    text-decoration: none;

}

.blocoLateral {
    display: flex;
    flex-direction: column;
    width: 250px;
    height: 98vh;
    background-color: #370505;
    align-items: center;
    position: fixed;
    margin-top: 3%;
}

.menu {
    margin: 0%;
}


.menu .foto {

    margin-left: 30px;
    width: 100px;
    height: 100px;
    border-radius: 100px;
    background-color: #ffffff;
    background-size: cover;
    border: solid #D9D9D9;

}

.informacoes {
    display: flex;
    color: #ffffff;
    flex-direction: column;
    font-size: larger;
    justify-content: center;
    align-items: center;
    margin-top: 22%;
    text-align: center;
    font-family: 'Be VietnamLight';
    padding: 3%;
}

.informacoes p {
    margin: 0%;
    font-size: 75%;
    text-decoration: underline;
}

.informacoes h5 {
    margin-bottom: 5%;
    font-size: 95%;
    font-style: normal;
    font-family: Helvetica;
}

.acesso {
    display: flex;
    margin-top: 120px;
    margin-bottom: 120px;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 23%;
}


.acesso h3 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    color: #ffffff;
}


.conteudo {
    display: flex;
    flex-direction: column;
    width: 95vw;
    height: 92vh;
    background-color: #ffffff;
    margin-left: 18%;
    margin-top: 5%;
}

.corpoGeral {
    display: flex;
    flex-direction: row;
}
.alerta {
    display: flex;
    margin-right: 7%;
    flex-direction: row;
    justify-content: space-between;
}
.titulo {
    display: flex;
    flex-direction: column;
    margin-left: 5%;
    justify-content: flex-start;
}

 img {
    margin-top: 15%;
    width: 50px;
    height: 50px;
}

.titulo h4 {
    margin: 2% 0% 0% 0%;
    font-size: 200%;

}

.titulo p {
    margin: 0;
    color: grey;
}

.cardGeral {
    height: 80vh;
    display: flex;
    margin-top: 5%;
    flex-direction: row;
    justify-content: space-evenly;
}

.blocoAuxiliar {
    height: 45vh;
    width: 28vw;
    background-color: #795e5e;
}


.card {
    display: flex;
    flex-direction: column;
    height: 60vh;
    width: 28vw;
    background-color: #D11313;
    border-radius: 20px 20px 0px 0px;
    align-items: center; 
    justify-content: center;
    animation: colorLoop 2s infinite;
}

@keyframes colorLoop {
    0% {
        background-color: red;
    }
    50% {
        background-color: rgb(99, 18, 18);
    }
    100% {
        background-color: red;
    }
}

.cardInt {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 38vh;
    width: 73%;
    background-color: #D9D9D9;
    border-radius: 20px;
    border: solid rgb(20, 20, 20);
    border-width: 2px;
    margin-bottom: 4%;
    margin-top: 10%;
}

.card .cardInt h1 {
    margin: 5%;
    color: #FF914D;
    font-size: 350%;
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.card .cardInt h4 {
    margin-top: 2%;
    margin-bottom: 0%;
    color: #370505;
    font-size: 150%;
    font-family: Helvetica;
}

.card .cardInt h5 {
    margin: 0%;
    color: #370505;
    font-size: 150%;
    font-family: Helvetica;
}

.card button {
    height: 6vh;
    width: 20vw;
    margin-top: 5%;
    background-color: #370505;
    color: #ffffff;
    font-size: larger;
    font-weight: bold;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.3s;
}

.card button:hover {
    background-color: #ff8800;

}


.cardExtra {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.infoExtra {
    margin-top: 5%;
    height: 22vh;
    width: 28vw;
    background-color: #D9D9D9;
    align-items: center;
}

.textoExtra {
    margin-top: 7%;
}

.infoExtra .textoExtra span {
    font-family: 'Be VietnamBold';
    margin-left: 3%;
    margin-top: 5%;
    font-size: 85%;
    text-align: center;
}
.infoExtra .textoExtra span p {
    font-family: 'Be VietnamLight';
    margin-left: 2%;
    margin-right: 2%;
    font-size: 96%;
    text-align: center;
}

.avisoG {
    display: flex;
    margin: 2%;
    width: 80vw;
    height: 20vh;
    justify-content: center;
    align-items: center;
    border-bottom: 4px solid #D9D9D9;
}

.blocoAviso {
    display: flex;
    margin-bottom: 1%;
    width: 78vw;
    height: 17vh;
    background-color: #D9D9D9;
    border-radius: 25px;
    justify-content: space-between;

}

@font-face {
    font-family: Be VietnamBold;  /* foram instaladas fontes externas, para isso foi necessário criar um nome(apelido) para a fonte e em seguida adicionar a sua url*/
    src: url(../assets/font/BeVietnam-Bold.ttf);
}

@font-face {
    font-family: Be VietnamLight;
    src: url(../assets/font/BeVietnam-Light.ttf);
}

.avisoG {
    display: flex;
    flex-direction: column;
}

.blocoAviso span {
    margin-left: 4%;
    margin-top: 1%;
    margin-bottom: 0%;
    font-family: "Be VietnamBold";
    font-size: larger;
}

.blocoAviso span p {
    font-family: "Be VietnamLight";
    font-size: medium;
}

.abaOrdenar {
    display: flex;
    flex-direction: row;
    margin-bottom: 0%;
    width: 80vw;
    height: 13vh;
    justify-content: flex-end;
}

.abaOrdenar .titulo {
    margin-right: 3%;
}

.selecao {
    display: flex;
    justify-content: flex-start;
}

.selecao select {
    display: flex;
    justify-content: center;
    background-color: #D9D9D9;
    width: 15vw;
    height: 5vh;
    border-radius: 10px;
}

.blocoInterno {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 20vw;
    height: 16vh;
    border-radius: 25px;
    border-width: 1mm;
    background-color: #D11313;
    border: solid black;

}

.cardInt2 h3 {
    margin: 5%;
    color: #ffffff;
    font-size: 180%;
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;

}



.cardInt2 h4 {
    margin-top: 2%;
    margin-bottom: 0%;
    color: #D9D9D9;
    font-size: 100%;
    font-family: Helvetica;
    text-align: center;
}

.cardInt2 h1 {
    margin: 5%;
    color: #ffffff;
    font-size: 190%;
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;

}

.listaG {
    display: flex;
    flex-direction: row;
    background-color: #D9D9D9;
    width: 70vw;
    height: 47.5vh;
    margin-left: 8%;
    border-radius: 7px;
}

.listasTU {
    display: flex;
    flex-direction: column;
    height: 43.5vh;
    width: 35vw;
    align-items: flex-start;
}
 .listasTU .scroll {
    overflow: auto; /* comando que permite a criação do scroll, o auto significa que ele aparecerá apenas quando for necessário */
 }

 .scroll::-webkit-scrollbar {
    width: 4px; /* largura do scroll */
  }
  
  .scroll::-webkit-scrollbar-track {
    background: #D9D9D9;       /* cor da área que o scroll está inserido */
  }
  
  .scroll::-webkit-scrollbar-thumb {
    background-color: #ff8800;    /* cor do scroll */
    border-radius: 20px;       /* arredondamento da borda do scroll */
    border: 3px solid #ff8800;  /* cor da borda do scroll */
  }
.listaG h3 {
    font-family: "Be VietnamBold";
    font-size: medium;
}
.listaG .listasTU button {
    margin-left: 3%;
    margin-bottom: 4%;
    background-color: #D9D9D9;
    border: none;
    cursor: pointer;
    font-family: "Be VietnamBold";
    font-size: medium;
}

.listaG .listasTU h3 {
    margin-left: 8%;
    font-family: "Be VietnamBold";
    font-size: medium;
}

.listasTU span {
    margin: 8px;
    font-family: "Be VietnamLight";
    font-weight: bold;
}

.linha {
    margin-right: 3%;
    height: 47.5vh;
    width: 0.25vw;
    background-color: #504e4e;
}


.grafico {
    display: flex;
    flex-direction: row;
    margin-top: 3%;
    margin-left: 2%;
    width: 30vw;
    height: 30vh;
}

.graficoP {
    display: flex;
    flex-direction: row;
    margin-top: 3%;
    margin-left: 2%;
    width: 35vw;
    height: 35vh;
}


#grafico1 p {
    color: green;
    font-family: "Be VietnamLight";
    font-size: small;
    font-weight: bold;
}

#grafico3 p {
    color: green;
    font-family: "Be VietnamLight";
    font-size: small;
    font-weight: bold;
}
#grafico5 p {
    color: green;
    font-family: "Be VietnamLight";
    font-size: small;
    font-weight: bold;
}
#grafico6 p {
    color: green;
    font-family: "Be VietnamLight";
    font-size: small;
    font-weight: bold;
}
#grafico8 p {
    color: green;
    font-family: "Be VietnamLight";
    font-size: small;
    font-weight: bold;
}
#grafico9 p {
    color: green;
    font-family: "Be VietnamLight";
    font-size: small;
    font-weight: bold;
}


.graficoG {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 65vw;
    height: 35vh;
}


#grafico3G p {
    color: green;
    font-family: "Be VietnamLight";
    font-size: small;
    font-weight: bold;
}
#grafico5G p {
    color: green;
    font-family: "Be VietnamLight";
    font-size: small;
    font-weight: bold;
}
#grafico6G p {
    color: green;
    font-family: "Be VietnamLight";
    font-size: small;
    font-weight: bold;
}
#grafico8G p {
    color: green;
    font-family: "Be VietnamLight";
    font-size: small;
    font-weight: bold;
}


.botaoVoltar{
    height: 8%;
    width: 8%;
    border: none; 
    background-color: #ffffff; 
    margin-left: 75px;
    color: black;
    font-size: large;
    font-weight: bold;
    cursor: pointer;
    
}

.styleGraficos {
    width: 30vw;
    margin-top: 5%;
}

#btnSala {
    width: 100%;
}




/* Página da IA */

.conteudo2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 98%;
    height: 100%;
}

.container2 {
    background-color: #f5f3f3;
    color: #1b0909;
    font-family: "Be VietnamLight";
    width: 60%;
    height: fit-content;
    border-radius: 30px;
    padding: 3%;
    border: 2px solid #370505;
}

.boxTitulo2 {
    display: flex;
    width: 80vw;
    height: 10vh;
    position: fixed;
}

.titulo2 {
    height: 15%;
    display: flex;
    flex-direction: column;
    margin-left: 3.4%;
    
}

.titulo2 h4 {
    margin: 2% 0% 0% 0%;
    font-size: 200%;

}

.titulo2 p {
    margin: 0;
    color: grey;
}

.ajuda {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80vw;
    height: fit-content;
    margin-top: 10%;
}
#pergunta {
    width: 60%;
    margin-top: 3%;
    border-radius: 10px;
    font-family: "Be VietnamLight";

}

#resposta {
    margin-top: 5%;
    /* height: 15vh; */
    overflow: auto;
}

.container2 button {
    width: 10vw;
    height: 5vh;
    border-radius: 30px;
    border: none;
    background-color: #DD940D;
    transition: 0.3s;
}

.container2 button:hover{
    background-color: #370505;
    color: #ffffff;
    cursor: pointer;
}



